/* Details Container */
.details-container {
  border: 1px solid var(--primary-darker);
  border-radius: 5px;
  margin: 5rem 0;
}

.details-container .container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 50px;
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid var(--primary-darker);
  box-shadow: 0 0 15px 10px #0000000a;
  -webkit-box-shadow: 0 0 15px 10px #0000000a;
}

.details-container .details-container-heading {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #cacbcf;
}

.details-container p {
  font-weight: bold;
  font-size: 1.5rem;
  /* color: #626262; */
  color: var(--primary-darker);
  font-family: "NirmalaRegular";
}

.details-container .details-container-body {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  margin: 2rem;
  box-shadow: 10px 7px 10px -5px #0000000a, 10px 7px 10px -5px #0000000a, -10px 7px 10px -5px #0000000a;
  -webkit-box-shadow: 10px 7px 10px -5px #0000000a, 10px 7px 10px -5px #0000000a,
    -10px 7px 10px -5px #0000000a;
  -moz-box-shadow: 10px 7px 10px -5px #0000000a, 10px 7px 10px -5px #0000000a,
    -10px 7px 10px -5px #0000000a;
}

/* Dropdown */
.DropDownInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "SansRegular";
  width: 15rem;
  height: 3rem;
  padding: 0px 20px;
  border-radius: 0.3rem;
  border: 0.5px solid var(--primary-darker);
  cursor: pointer;
}

.DropDownInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  width: 100%;
  outline: none;
  border: none;
  /* border-radius: 0.6rem; */
  /* position: relative; */
  /* font-size: 1rem; */
  /* color: black; */
  /* font-family: "SansRegular"; */
}

.DropDownInput::placeholder {
  /* font-size: 1rem; */
  /* letter-spacing: 0px; */
  /* color: black; */
}

.SelectedValue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: fit-content;
  padding: 3px 10px 3px 10px;
  border-radius: 4px;
  background-color: var(--primary-darker);
  color: white;
  text-overflow: ellipsis;
}

.CloseButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.DropDownListContainer {
  width: 15rem;
  max-height: 15rem;
  overflow-y: auto;
  box-shadow: 0px 3px 6px #00000029;
  /* border: 1px solid #00000029; */
  /* color: #00000029; */
  background-color: white;
  position: absolute;
  /* top: 10; */
  z-index: 1;
  /* font-family: "SansRegular"; */
}

.DropDownListContainer::-webkit-scrollbar {
  width: 4px;
  /* background-color: var(--primary-darker); */
  /* border-radius: 8px; */
}

.DropDownListContainer::-webkit-scrollbar-track {
  /* border-radius: 8px; */
}

.DropDownListContainer::-webkit-scrollbar-thumb {
  background-color: var(--primary-darker);
  /* border-radius: 8px; */
}

.DropDownListItem {
  font-family: "SansRegular";
  margin: 0;
  /* text-align: center; */
  /* text-align: left; */
  /* font: 1rem; */
  /* letter-spacing: 0px; */
  /* color: black; */
  cursor: pointer;
}

/* .DropDownListItem p {
  color: black;
} */

.DropDownListFocusedItem {
  background-color: var(--primary-darker);
  /* color: white; */
  /* color: black; */

  /* font-family: "SansRegular"; */
  margin: 0;
  padding: 2px 20px;
  /* text-align: left; */
  /* font: 1rem; */
  /* letter-spacing: 0px; */
  cursor: pointer;
}

.DropDownListFocusedItem p {
  color: white;
}

.DropDownListItemWithoutFocused:hover {
  background-color: var(--primary-darker);
  color: white;
}

.DropDownListItemWithoutFocused {
  /* font-family: "SansRegular"; */
  /* margin: 0; */
  padding: 2px 20px;
  /* text-align: left; */
  /* font: 1rem; */
  /* letter-spacing: 0px; */
  color: white;
  cursor: pointer;
}

/* .DropdownGroup {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
} */
