body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For Navbar */
.navbar{
  background-color: rgb(209, 154, 13);
  padding: 10px;
}
.dropdown-toggle{
  border: 0px solid white !important;
}

/* Footer */
.bottom {
  padding: 50px;
  background-color: rgb(209, 154, 13) !important;
  color: white;
}
.icon{
  border: 1px solid white !important;
  padding: 15px !important;
}
.ihover i:hover {
  color: rgb(209, 154, 13) !important;
  background-color: white;
}
button:hover {
  background-color: rgb(209, 154, 13);
  color: white;
}

/* Landing Screen */
.landing{
  height: 100vh !important;
  width: 100% !important;
}

/* Login  and Registration Screen */
input , select , .ant-picker{
  box-shadow: none !important;
  margin-top: 5px;
  border: 1px solid black !important;
  /* width: 100% !important; */
  border-radius: 3px !important;
  /* height: 35px !important; */
}

label{
  margin-top: 5px;
}

.shadow{
  box-shadow: 0px 5px 15px black;
  margin-top: 20px !important;
  border: 5px !important;
  padding: 20px !important;
}


