:root {
  --primary: #d19a0d;
  --primary-darker: #ffb700;
  --secodary: #816e49;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Table */
.table-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  min-height: 10rem;
  max-height: 30rem;
}

.table-container1 {
  width: 100%;
  height: 100%;
  min-height: 31rem;
  max-height: 31rem;
  position: relative;
  overflow: auto;
}

.table-container::-webkit-scrollbar,
.table-container1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* background-color: var(--primary); */
  border-radius: 8px;
}

.table-container::-webkit-scrollbar-track,
.table-container1::-webkit-scrollbar-track {
  border-radius: 8px;
}

.table-container::-webkit-scrollbar-thumb,
.table-container1::-webkit-scrollbar-thumb {
  background-color: var(--primary-darker);
  border-radius: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  overflow: auto;
  color: white;

  /* min-width: 20rem; */
  /* border: 2px solid black; */
}

.table-head {
  background-color: var(--primary-darker);
  font-family: "SansBold";
  text-transform: uppercase;
  height: 4rem;

  /* max-height: 3rem; */
  /* border: 2px solid black; */
}

.table-head .th {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.table-body {
  text-align: left;
  color: #4d4f5c;
}

.tr {
  font-size: 0.89rem;
}

.th {
  width: 10rem;
  min-width: 10rem;
  text-align: center;
  font-size: 0.89rem;
  height: 2rem;
  max-height: 2rem;
  border-right: 0.1rem solid white;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 100; */
  /* background-color: #f5f6fa; */
}

.td {
  /* max-width: 10rem; */
  /* min-width: 10rem; */
  height: 4rem;
  max-height: 4rem;
  overflow-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /* font-family: "NirmalaMedium"; */
  font-size: 1rem;
  /* border: 0.1rem solid var(--primary-darker); */
}

/* .td span {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
} */

/* Utilities */
.buttonDarker {
  background-color: var(--primary-darker);
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}

.buttonDarker:hover {
  background-color: white;
  color: var(--primary-darker);
  border: 1px solid var(--primary-darker);
}

.form {
  padding: 0;
  border-radius: 0.5rem;
  border: 0.5rem solid var(--primary-darker);
}

.input {
  border: none;
  outline: 2px solid var(--primary-darker) !important;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.85rem;
  width: 100rem;
  padding-bottom: 2rem;
}

.fr {
  display: flex;
}

.frcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc {
  display: flex;
  flex-direction: row;
}

.fccc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navbar {
  /* background-color: var(--primary); */
  background-color: var(--primary-darker);
  padding: 10px;
  min-height: 10vh;
  max-height: 10vh;
}
.dropdown-toggle {
  border: 0px solid white !important;
}

/* Sidebar */
.sidebar {
  flex: 2;
  height: 100%;
  background-color: white;
  border-right: 0.2rem dashed var(--primary-darker);
}

.sidebar ul {
  margin: 1rem;
}

.sidebar li {
  padding: 0.1rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  background-color: var(--primary-darker);
  font-size: 1.3rem;
}

.sidebar li:hover {
  color: var(--primary-darker);
  background-color: white;
  border: 1px solid var(--primary-darker);
  list-style-type: none;
}

.sidebar .active {
  margin: 0.1rem;
  color: var(--primary-darker);
  background-color: white;
}

/* Children (right side of sidebar) */
.children {
  flex: 10;
  overflow-y: auto;
  /* margin: 2rem; */
  background-color: white;
  /* width: 100%; */
  /* box-shadow: 6px 6px 10px yellow; */
  -webkit-box-shadow: 1px 1px 32px -8px var(--primary-darker);
  -moz-box-shadow: 1px 1px 32px -8px var(--primary-darker);
  box-shadow: 1px 1px 32px -8px var(--primary-darker);
}

.children::-webkit-scrollbar {
  display: none;
  /* width: 8px;
  height: 8px;
  background-color: yellow;
  border-radius: 8px; */
}

.children::-webkit-scrollbar-track {
  /* border-radius: 8px; */
}

.children::-webkit-scrollbar-thumb {
  /* background-color: blue;
  border-radius: 8px; */
}

/* Footer */
.bottom {
  padding: 50px;
  background-color: var(--primary) !important;
  color: white;
}
.icon {
  border: 1px solid white !important;
  padding: 15px !important;
}
.ihover i:hover {
  color: rgb(209, 154, 13) !important;
  background-color: white;
}
button:hover {
  background-color: var(--primary);
  color: white;
}

/* Landing Screen */
.landing {
  height: 100vh !important;
  width: 100% !important;
}

/* Login  and Registration Screen */
input,
select,
.ant-picker {
  box-shadow: none !important;
  margin-top: 5px;
  /* border: 1px solid black !important; */
  /* width: 100% !important; */
  border-radius: 3px !important;
  /* height: 35px !important; */
}

label {
  margin-top: 5px;
}

.shadow {
  box-shadow: 0px 5px 15px black;
  margin-top: 20px !important;
  border: 5px !important;
  padding: 20px !important;
}

/*  */
.form-control {
  border-radius: 10px;
}

.custom-form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: white;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  max-height: 10vh;
  background-color: var(--primary-darker);
  color: white;
}

/* .footer .icon {
  margin: 0 0.4rem;
  cursor: pointer;
  border: 1px solid red;
} */
